@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Libre+Baskerville&family=Rubik+Glitch&display=swap');


:root{
    --primary-color: #cf0f0f;
    --primary-color-contrast: #ffffff;
    --field-background: #000;
}

.light-theme {
    --page-background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffffff 65%,
    rgba(255, 255, 255, 0.75) 100%
    );
    --header-background-color: #e3e3e3;
    --highlight-color: #000000;
    --featured-font-family: "Archivo", sans-serif;
    --character-top-image-src: url("../images/characters/welcome-to-hawkins.png");
    --character-top-image-color: #ffffff;
    --character-bottom-image-src: url("../images/characters/upside-down-monster.png");
    --character-bottom-image-color: #e5e5e5;
    --background-lamp-image: url("../images/Background/lamps.png");
    --footer-background-color: #b5bbbf;
}

.dark-theme {
    --page-background: linear-gradient(
        180deg,
        #050000 0%,
        #130404 65%,
        rgba(19, 1, 1, 0.75) 100%
    );
    --header-background-color: #220f0f;
    --highlight-color: #ffffff;
    --featured-font-family: "Rubik Glitch", sans-serif;
  
    --character-top-image-src: url("../images/characters/upside-down-monster.png");
    --character-top-image-color: #000;
    --character-bottom-image-src: url("../images/characters/welcome-to-hawkins.png");
    --character-bottom-image-color: rgba(255, 255, 255, 0.1);
    --background-lamp-image: url("../images/Background/lamps-inverted.png");
    --footer-background-color: #000;
}

.dark-theme button,
.dark-theme h1,
.dark-theme h2,
.dark-theme h3 {
    letter-spacing: 5px;
    font-weight: normal;
}

.dark-theme .invert-element {
    transform: rotateZ(180deg) scaleX(-1);
}

* {
    margin: 0;
    box-sizing: border-box;
    transition: 1s;
}

h1, h2, h3 {
    font-family: var(--featured-font-family);
    font-size: 3rem;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 40px;
    text-shadow: 4px 4px #000;
}

p {
    color: var(--highlight-color);
}

p, input, textarea, label
{
    font-family: "Libre Baskerville", serif;
}

button{
    padding: 16px 32px;
    background-color: transparent;
    font-weight: 900;
    font-family: var(--featured-font-family);
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 1s;
}

input, textarea {
    border: 2px solid var(--primary-color-contrast);
    background-color: var(--field-background);
    color: var(--primary-color-contrast);
    padding: 8px;
    margin-bottom: 24px;
    font-size: 1rem;
}

label {
    margin-bottom: 8px;
}

input:focus-visible, textarea:focus-visible {
    outline: none;
    border-color: black;
}

/*        HEADER          */

header {
    background-color: var(--header-background-color);
    min-height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../images/banner/florest.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 90%;
    filter: saturate(0);
    opacity: 0.2;
}

.header-content{
    max-width: 700px;
    padding: 80px 20px;
    text-align: center;
    z-index: 2;
    font-size: medium;
    font-weight: thin;
}

.header-content img {
    width: 80%;
}

.filt-logo{
    filter: drop-shadow(4px 4px 4px white);
}

.header-content p {
    margin: 30px 0 50px;
}

.header-content button {
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    z-index: 5;
}

.header-content button:hover{
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
}

/*    WORLD CHARACTER STYLES     */

#world-characters {
    width: 100%;
    max-width: 1200px;
    position: absolute;
    align-items: center;
    
}

#top-characters {
    height: 90%;
    width: 900px;
    max-width: 900px;
    top: 300px; position: absolute;

    background-image: var(--character-top-image-src);
    background-repeat: no-repeat;
    background-size: 900px;
    opacity: 0.4;
}

#bottom-characters {
    height: 500px;
    width: 100%; position: absolute;
    transform: rotateZ(180deg) scaleX(-1);
    background-image: var(--character-bottom-image-src);
    background-repeat: no-repeat;
    background-size: 900px;
    opacity: 0.3;
}

/*   MAIN SECTION   */

main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--page-background) no-repeat, url("../images/background/florest.png") no-repeat;
    background-size: cover;
    z-index: -1;
}

/*  SECTIONS STYLES  */

section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
}

/*  INVERTED SECTION  */

.container {
    max-width: 1200px;
}

#inverted-world-section {
    align-items: center;
}

#inverted-world-section .text-section {
    width: 50%;
}

#inverted-world-section .text-section h2 {
    max-width: 300px;
}

.invert-element {
    margin-top: 25px;
}
.filt{
    filter: drop-shadow(5px 40px 50px var(--primary-color));
}

/*  SECTION TRAILER  */

#trailer-st .text-section {
    width: 50%;
    text-align: right;
}

#trailer-st .text-section h2 {
    max-width: 425px;
    display: inline-block;
}

#trailer-st .video-frame iframe {
    position: relative;
    bottom: 24px;
    left: 24px;
    border: 2px solid;
    border-image: linear-gradient(var(--primary-color), var(--primary-color-contrast));
    border-image-slice: 10;
    filter: drop-shadow(5px 40px 50px var(--primary-color));
}

/*  GALLERY SECTION  */

#gallery-section {
    width: 100%;
    justify-content: center;
    background-image: var(--background-lamp-image);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 60%;
    background-position-y: 55%;
}

#gallery-section .container {
    width: 100%;
}

#gallery-section .container h2 {
    width: 800px;
}

#gallery-section .gallery-container {
    display: flex;
    gap: 50px;
}

/*Adicionar novas fotos na galeria invertida************************/
#gallery-section .gallery-image {
    width: 250px;
    height: 250px;
    outline: 20px solid var(--highlight-color);
    border: 3px solid var(--primary-color);
    box-sizing: initial;
    filter: none;
}

#gallery-section .gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px solid var(--highlight-color);
}

/*  FORM SECTION  */

#form-section {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
}

#form-section h2 {
    width: 600px;
}

#form-section .form-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form-section .form-content h3 {
    color: var(--highlight-color);
    flex-basis: 30%;                            /*?????*/
    text-align: left;
    margin: 0;
}

#form-section .form-content h3 span{
    color: var(--primary-color);
}

#form-section .form-container {
    flex-basis: 50%;
    position: relative;
}

#form-section .form-container::after{
    content: "";
    background-color: var(--highlight-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: -1;
}

#form-section .form-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
    text-align: left;
}

#form-section .form-container form button{
    border: none;
    background-color: var(--field-background);
    color: var(--primary-color-contrast);
    max-width: 300px;
    align-self: center;               /*???*/
}

#form-section .form-container form button:hover{
    background-color: var(--primary-color-contrast);
    color: var(--field-background);
}

/*  FOOTER STYLES  */

footer {
    padding: 60px 0;
    background-color: var(--footer-background-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

footer p {
    max-width: 700px;
    margin-bottom: 24px;
}

footer::before, footer::after {
    content: "";
    width: 300px;
    height: 200px;
    background: url("../images/footer/tape.svg") no-repeat;
    background-size: contain;      /*???*/
    position: absolute;
    bottom: -30px;
}

footer::before {
    left: -50px;
    transform: rotateZ(-10deg);         /*???*/
}

footer::after {
    right: -50px;
    transform: rotateZ(10deg);         /*???*/
}